@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.logo {
    font-family: 'typo';
    font-size: 35px;
    color: #ffbb33;
    background-color: rgb(33, 34, 34);
}

.nev {
    font-family: 'typo';
    background-color: rgb(33, 34, 34);
}

.btn1{
    background-color: rgb(33, 34, 34);
    padding: .375rem .75rem;
    border-radius: .35rem;
    color: white;
    
    
}
.btn1 a{
    color: #edf3f3;
}
.btn1 a:hover {
    color: rgba(223, 156, 11, 0.959);
}
.btn2{
    color:darkgreen;
    border:none;
    background-color: none;
}
.btn3{
    color:darkred;
    border:none;
    background-color: none;
}
.nav-item ab {
    text-align: right;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}