{% extends "base.html" %}
{% block Content %} 

<div class="container row px-5 my-5 mb-5 mx-5">

    <div class="d-flex justify-content-center mb-3">
        <div class="mx-5">
            <img
            class="rounded float-left"
            src="/static/img/mohan1.png"
            alt="img"
            style="height: 300px;"/>    
        </div>

        <div class="d-flex flex-column">
            <h3 class=" mt-5">
                <p>Hey I'm </p>
                Mohan Dwivedi
              </h3>
              <p>
                A passionate learner with a drive to stay ahead of the curve and tackle complex problems with innovative solutions. Eager to contribute as a dedicated and detail-oriented IT professional.
                Thrives on connecting with fellow enthusiasts to exchange ideas and insights. Committed to continuous growth and exploration, seeking to make a meaningful impact in the ever-evolving world of tech..
              </p>
            
                        
        </div>
      </div>

</div>

<h2  class="d-flex justify-content-center mb-4">Connect Socially</h2>
<div class="d-flex justify-content-center mb-5">
    <a href="https://www.linkedin.com/in/manmohan-dwivedi/" class="btn btn-primary mx-3">Linkedin</a>
    <a href="https://github.com/CodeWithMohan01" class="btn btn-primary mx-3">Git-Hub</a>
    <a href="www.facebook.com" class="btn btn-primary mx-3">Fackbook</a>
    <a href="https://x.com/walkWathMohan?t=wMpUK_2A8uvAOrtdNqw6JQ&s=09" class="btn btn-primary mx-3">Twitter</a>
</div>

  
  <!-- {/* Practice for the Pressure */} -->
  
<div class="container row my-5 mb-5 mx-5">

    <div class="d-flex justify-content-center mb-3">
        

    <div class="d-flex flex-column mx-5">
        <h3 class=" mt-5">
            <p>Hey I'm </p>
            Palak Singh
        </h3>
        <p>
            A passionate learner with a drive to stay ahead of the curve and tackle complex problems with innovative solutions. Eager to contribute as a dedicated and detail-oriented IT professional.
            Thrives on connecting with fellow enthusiasts to exchange ideas and insights. Committed to continuous growth and exploration, seeking to make a meaningful impact in the ever-evolving world of tech..
        </p>  
    </div>
        <div class="">
            <img
            class="rounded float-left"
            src="/static/img/palak.png"
            alt="img"
            style="height: 300px;"/>    
        </div>
    </div>

</div>
<h2  class="d-flex justify-content-center mb-4">Connect Socially</h2>
<div class="d-flex justify-content-center mb-5">
    <a href="https://www.linkedin.com/in/palak-singh-497648213/" class="btn btn-primary mx-3">Linkedin</a>
    <a href="https://github.com" class="btn btn-primary mx-3">Git-Hub</a>
    <a href="www.facebook.com" class="btn btn-primary mx-3">Fackbook</a>
    <a href="https://x.com" class="btn btn-primary mx-3">Twitter</a>
</div>


{% endblock %}