{% extends "base.html" %} {% block Content %} {% load static %}

<div class="container mt-2">
  <h2 class="pb-2 border-bottom">Mock-It To Rock-It</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex justify-content-between w-100">
      <div class="w-50">
        <h3 class="fs-2 text-body-emphasis my-5">
          Master your interview prepration and land a job worth loving.
        </h3>
        <p>
          Prepare for realistic job interviews for different job positions and
          level up your skills in no time. Learn More
        </p>
        {% comment %} <p>
          Simulate realistic interviews for over 120 different job positions and
          level up your skills in no time. Learn More
        </p> {% endcomment %}

        <!-- ********** interview start link******** -->
        <a href="/resume-scanner" class="btn btn-primary">Analyse Resume</a>
        <a href="/interview-type" class="btn btn-primary">Ask to Assistent</a>
        <a href="/quiz" class="btn btn-primary"> Take Mock Quiz </a>
        
      </div>
      <div class="icon-square text-body-emphasis w-40">
        <img
          class="img-fluid w-100 h-75 rounded-5"
          src="static/img/img1.jpg"
          alt="img"
        />
      </div>
    </div>
  </div>
</div>

<!-- {/* Take Mock Interviews On Your Own */} -->

<div class="container px-5">
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="col d-flex justify-content-between w-100">
      <div class="icon-square text-body-emphasis w-40">
        <img
          class="img-fluid w-100 h-75 rounded-5"
          src="static/img/img2.jpg"
          alt="img"
        />
      </div>
      <div class="w-50">
        <h3 class="fs-2 text-body-emphasis my-5">
          Get Your Resume Analysis By AI Expert
        </h3>
        <p>
          Click on above button you will be redirected to a new page where 
          you can e your resume by just uploading it.
        </p>

        <a href="/resume-scanner" class="btn btn-primary">Analyse Resume</a>
      </div>
    </div>
  </div>
</div>

<!-- {/* Practice for the Pressure */} -->

<div class="container px-5">
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="col d-flex justify-content-between w-100">
      <div class="w-50">
        <h3 class="fs-2 text-body-emphasis my-5">Practice for the Pressure</h3>
        <p>
          We use your built-in camera to recreate the pressure of actual
          interviews so you can gain realistic experience and feel prepared for
          anything.
        </p>
      </div>
      <div class="icon-square text-body-emphasis w-45">
        <img
          class="img-fluid w-100 h-75 rounded-5"
          src="static/img/img3.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<!-- {/* Cards */} -->

<div class="container px-5">
  <div class="px-5 py-4 mx-5">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 25rem">
          <img
            class="card-img-top"
            src="static/img/img8.jpg"
            alt=""
            style="height: 15rem"
          />
          <div class="card-body">
            <h5 class="card-title">Build interview confidence.</h5>
            <p class="card-text">
              We give you everything you need to master your interview skills in
              less time than any other option, so you can walk into your
              interview with confidence and .
            </p>
            <!-- <Link to="#" class="btn btn-primary">Go somewhere</Link> -->
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 25rem">
          <img
            class="card-img-top"
            src="static/img/img6.jpg"
            alt=""
            style="height: 15rem"
          />
          <div class="card-body">
            <h5 class="card-title">Get hired faster.</h5>
            <p class="card-text">
              Our simulator is optimized to help you master your interview
              skills in the most efficient way possible, so you can be prepared
              to ace the interview in no time.
            </p>
            <!-- <Link to="#" class="btn btn-primary">Go somewhere</Link> -->
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-5 py-4 mx-5">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 25rem">
          <img
            class="card-img-top"
            src="static/img/img7.jpeg"
            alt=""
            style="height: 15rem"
          />
          <div class="card-body">
            <h5 class="card-title">Accelerate your career & earn more.</h5>
            <p class="card-text">
              Master the skill of interviewing by practicing it just like you
              practice your trade and give your career a boost.
            </p>
            <!-- <Link to="#" class="btn btn-primary">Go somewhere</a> -->
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 25rem">
          <img
            class="card-img-top"
            src="static/img/img5.jpg"
            alt=""
            style="height: 15rem"
          />
          <div class="card-body">
            <h5 class="card-title">Land the job you've been dreaming of.</h5>
            <p class="card-text">
              Gain realistic interview experience and master the skills you need
              to wow your employers and beat out the competition.
            </p>
            <a href="#" class="btn btn-primary">Click</a>
            <!-- <Link to="#" class="btn btn-primary">Go somewhere</Link> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {/* Mock Interviews They Can Take on Their Own */} -->

<div class="container mt-5">
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="col d-flex justify-content-between w-100">
      <div class="w-50">
        <h3 class="fs-2 text-body-emphasis my-5">
          Mock Interviews They Can Take on Their Own
        </h3>
        <p>
          Provide simulated interviews they can conduct on their own. No need to
          schedule, commute, or meet in person.
        </p>

        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="icon-square text-body-emphasis w-45">
        <img
          class="img-fluid w-100 h-75 rounded-5"
          src="static/img/img4.jpg"
          alt="img"
        />
      </div>
    </div>
  </div>
</div>

{% endblock Content %}
