{% extends "base.html" %}
{% block Content %}
        <!-- login -->
        <script src="/static/js/login.js"></script>
        <section class="mx-5 my-5">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
    
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

                                        {% if messages %}
                                                <div class="alert alert-primary" style="background-color: rgba(255, 107, 107, 0.676); text-align: center;  border-radius: 5px;" role="alert">
                                                    {% for message in messages %}
                                                    {{ message }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
    
                                        <form class="mx-1 mx-md-4" id="loginForm" method="post">

                                            {% csrf_token %}                                            
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                
                                                <i class="bi bi-envelope-fill fa-lg m-1 "></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" id="email" name = "user_email" class="form-control"
                                                        placeholder='Your Email' required/>
                                                </div>
                                            </div>
    
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="bi bi-shield-lock-fill fa-lg m-1"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="pass" name="user_pass" class="form-control"
                                                        placeholder='Password' required/>
                                                    
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                            </div>                                         
    
                                        </form>
    
                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
    
                                        <img class='img-fluid' src="/static/img/img2.jpg" alt="" />
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/static/js/login.js"></script>
{% endblock Content %}