.line_contain{
    display: flex;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
  }
  
  .line{
    border-bottom: 2px solid #6642df;
    width: 5%;
  }
  
  .text_contain {
    color: #5334b6;
    padding: 0 10px 0 10px;
    font-size: 2rem;
    font-weight: 700;
  }