*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(login1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    display: flex;
 }
 nav{
    display: flex;
    justify-content: right;
    margin-right: 10%;
    
 }
 nav a{
    text-decoration: none;
    color: white;
    margin-top: -2%;
 }
 a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
 }
 header{
    
    padding: 1%;
 }
 header h1{
    color: white;
    font-size:x-large;
    margin-top: 1.3%;
 }
 .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 450px;
    background:transparent;
    backdrop-filter: blur(50px);
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
   margin-left: 35%;
   margin-top: 5%;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
}
.input-box input{
    width: 150%;
    height: 100%;
    background: transparent;
    font-size: 16px;
    color: white;
    padding: 20px;
    outline: none;
    border: 2px solid gray;
    border-radius: 400px;
    margin-left: -60px;
}
.input-box input::placeholder{
    color: rgb(255, 255, 255);
}
.input-box i{
    position: absolute;
    right: 0px;
    margin-right: -30px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;
    margin-left: -50px;
    margin-top: 15px;
    color: black;

}
.remember-forget label input{
    accent-color: rgb(0, 0, 0);
    color: black;
    margin-right: 3px;
}
.remember-forget a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-right: -40px;
}
.remember-forget a:hover{
    text-decoration: underline;
    background: transparent;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow:0 0 10px black;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}
.wrapper .btn:hover{
    background-color: rgb(34, 22, 22);
    color: white;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
   

}
.register-link p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
             
    }
.register-link p a:hover{
    text-decoration: underline;
    background: transparent;
   
}
.navi{
    padding: 0%;
}
