*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
   background-image: url(image2.jpg);
   background-size: cover;
}
.container{
   display: flex;
   margin: 2%;
}
.head{
   margin-top: 10px;
}
#auto{
   color: rgb(0, 0, 0);
}
nav{
   justify-content: right;
   display: flex;
  margin-right: 10%; margin-top: -60px;
}
nav a{
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: large;
}
nav a:hover{
   border-radius: 10px;
   padding: 10px;
   background-color: white;
   color: rgb(0, 0, 0);
   font-weight: bold;
   
}
#vehicle{
   text-align: center;
  margin-top: 5%;
   color: rgb(0, 0, 0);
}
#description{
   text-align: center;
   margin-top: 1%;
   font-size: large;
   width: 50%;
   margin-left: 25%;
   justify-content: center;
   color: rgb(0, 0, 0);
}

